<a href="https://colab.research.google.com/github/amzesmoro/content_base/blob/master/Proyek_PBA_YouTube_Recommender_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Proyek PBA. Kelompok 2 - Youtube Recommender System**

## **Load Data**

In [0]:
!pip install -U -q PyDrive

from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# Authenticate and create the PyDrive client
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

**Check Files on Drive**

In [2]:
file_list = drive.ListFile({'q': "'1dMlcirgEfFW6_0tGe21MyT4bwHuoL3Ba' in parents and trashed=false"}).GetList()
for data_file in file_list:
  print('title: %s, id: %s' % (data_file['title'], data_file['id']))

title: us_category.csv, id: 1CXOXm7gkOt3aWdih1nbITFZSz7nKyxW5
title: gb_category.csv, id: 1eHeKD1eVIfZyUL175u0jhXC-mSOa3e7x
title: US_category_id.json, id: 1Tc77q9L_7FQFMY5FW2nhdEGcfAxd3dCo
title: GB_category_id.json, id: 1OXbhBVdDLjBmsL2hov-5Sl5Ljrks4mv7
title: USvideos.csv, id: 1DPxy5cEjvxeVqVQXOVEEWAR60PwOwzAo
title: GBvideos.csv, id: 1EORpXxrwN63P_9Mo3nDl8W-WrMp1gATQ

**Read Data From GDrive**

In [0]:
data_us = drive.CreateFile({'id': '1DPxy5cEjvxeVqVQXOVEEWAR60PwOwzAo'})
data_us.GetContentFile('USvideos.csv')
data_us_category_json = drive.CreateFile({'id': '1Tc77q9L_7FQFMY5FW2nhdEGcfAxd3dCo'})
data_us_category_json.GetContentFile('US_category_id.json')
data_gb = drive.CreateFile({'id': '1EORpXxrwN63P_9Mo3nDl8W-WrMp1gATQ'})
data_gb.GetContentFile('GBvideos.csv')
data_gb_category_json = drive.CreateFile({'id': '1OXbhBVdDLjBmsL2hov-5Sl5Ljrks4mv7'})
data_gb_category_json.GetContentFile('GB_category_id.json')
data_us_category = drive.CreateFile({'id': '1CXOXm7gkOt3aWdih1nbITFZSz7nKyxW5'})
data_us_category.GetContentFile('us_category.csv')
data_gb_category = drive.CreateFile({'id': '1eHeKD1eVIfZyUL175u0jhXC-mSOa3e7x'})
data_gb_category.GetContentFile('gb_category.csv')

In [0]:
import numpy as np
import json  
import pandas as pd
from pandas.io.json import json_normalize

**Read Dataset USVideos**

In [5]:
df_us = pd.read_csv('USvideos.csv')
df_us['country'] = 'USA'
df_us.head()

      video_id  ... country
0  2kyS6SvSYSE  ...     USA
1  1ZAPwfrtAFY  ...     USA
2  5qpjK5DgCt4  ...     USA
3  puqaWrEC7tY  ...     USA
4  d380meD0W0M  ...     USA

[5 rows x 17 columns]

**Read JSON from Category of US Dataset**

In [6]:
with open('US_category_id.json') as df_us_category_id:
    us_category = json.load(df_us_category_id)
dataframe_us_category = json_normalize(us_category['items'])
select_feature_us_category = ['id', 'snippet.title']
df_us_category = dataframe_us_category[select_feature_us_category]
df_us_category = df_us_category.rename(columns={"id":"category_id", "snippet.title":"category_title"})
df_us_category.head()

  category_id    category_title
0           1  Film & Animation
1           2  Autos & Vehicles
2          10             Music
3          15    Pets & Animals
4          17            Sports

**Read Dataset GBVideos**

In [7]:
df_gb = pd.read_csv('GBvideos.csv')
df_gb['country'] = 'Great Britain'
df_gb.head()

      video_id  ...        country
0  Jw1Y-zhQURU  ...  Great Britain
1  3s1rvMFUweQ  ...  Great Britain
2  n1WpP7iowLc  ...  Great Britain
3  PUTEiSjKwJU  ...  Great Britain
4  rHwDegptbI4  ...  Great Britain

[5 rows x 17 columns]

**Read JSON from Category of GB Dataset**

In [8]:
with open('GB_category_id.json') as df_gb_category_id:
    gb_category = json.load(df_gb_category_id)
dataframe_gb_category = json_normalize(gb_category['items'])
select_feature_gb_category = ['id', 'snippet.title']
df_gb_category = dataframe_gb_category[select_feature_gb_category]
df_gb_category = df_gb_category.rename(columns={"id":"category_id", "snippet.title":"category_title"})
df_gb_category.head()

  category_id    category_title
0           1  Film & Animation
1           2  Autos & Vehicles
2          10             Music
3          15    Pets & Animals
4          17            Sports

**Read CSV Category US dan GB**

In [0]:
df_us_category = pd.read_csv('us_category.csv')
df_gb_category = pd.read_csv('gb_category.csv')

## **US Videos**

In [0]:
# df_us_category['category_id'] = df_us_category['category_id'].apply(int)
df_us = pd.merge(df_us, df_us_category, on=['category_id'])
sort_columns = ['video_id', 'channel_title', 'title', 'category_id', 'category_title', 'tags', 'description', 'views', 'likes', 'dislikes', 'thumbnail_link', 'country']

In [11]:
df_us = df_us[sort_columns]
df_us.head()

      video_id  ... country
0  2kyS6SvSYSE  ...     USA
1  0mlNzVSJrT0  ...     USA
2  STI2fI7sKMo  ...     USA
3  KODzih-pYlU  ...     USA
4  8mhTWqWlQzU  ...     USA

[5 rows x 12 columns]

## **GB Videos**

In [0]:
# df_gb_category['category_id'] = df_gb_category['category_id'].apply(int)
df_gb = pd.merge(df_gb, df_gb_category, on=['category_id'])
sort_columns = ['video_id', 'channel_title', 'title', 'category_id', 'category_title', 'tags', 'description', 'views', 'likes', 'dislikes', 'thumbnail_link', 'country']

In [13]:
df_gb = df_gb[sort_columns]
df_gb.head()

      video_id  ...        country
0  Jw1Y-zhQURU  ...  Great Britain
1  MyEqfBkzESU  ...  Great Britain
2  b4vTZx_AtHk  ...  Great Britain
3  OWvCCu2t6Ts  ...  Great Britain
4  9GqL1DSQDL0  ...  Great Britain

[5 rows x 12 columns]

## **Combine Data US and GB**

In [14]:
data_youtube = pd.concat([df_us, df_gb])
sort_columns = ['video_id', 'channel_title', 'title', 'category_id', 'category_title', 'tags', 'description', 'views', 'likes', 'dislikes', 'thumbnail_link', 'country']
data_youtube = data_youtube[sort_columns]
data_youtube

          video_id  ...        country
0      2kyS6SvSYSE  ...            USA
1      0mlNzVSJrT0  ...            USA
2      STI2fI7sKMo  ...            USA
3      KODzih-pYlU  ...            USA
4      8mhTWqWlQzU  ...            USA
...            ...  ...            ...
38821  JtIY1Naxg0M  ...  Great Britain
38822  JtIY1Naxg0M  ...  Great Britain
38823  JtIY1Naxg0M  ...  Great Britain
38824  JtIY1Naxg0M  ...  Great Britain
38825  JtIY1Naxg0M  ...  Great Britain

[79775 rows x 12 columns]

## **Text Processing**

**Check Missing Value**

In [15]:
data_youtube.columns[data_youtube.isna().any()].tolist()

['description']

In [16]:
data_youtube.isnull().sum()

video_id             0
channel_title        0
title                0
category_id          0
category_title       0
tags                 0
description       1130
views                0
likes                0
dislikes             0
thumbnail_link       0
country              0
dtype: int64

**Fill the NAN Column using fillna**

In [0]:
data_youtube['description'].fillna("No Description", inplace=True)

**Check the missing value again**

In [18]:
data_youtube.columns[data_youtube.isna().any()].tolist()

[]

In [19]:
data_youtube.isnull().sum()

video_id          0
channel_title     0
title             0
category_id       0
category_title    0
tags              0
description       0
views             0
likes             0
dislikes          0
thumbnail_link    0
country           0
dtype: int64

In [20]:
data_youtube.shape

(79775, 12)

In [21]:
data_youtube.tail(5)

          video_id  ...        country
38821  JtIY1Naxg0M  ...  Great Britain
38822  JtIY1Naxg0M  ...  Great Britain
38823  JtIY1Naxg0M  ...  Great Britain
38824  JtIY1Naxg0M  ...  Great Britain
38825  JtIY1Naxg0M  ...  Great Britain

[5 rows x 12 columns]

**Data Cleaning**

In [22]:
data_youtube = data_youtube.drop_duplicates(subset='video_id', keep='first')
data_youtube.shape

(8602, 12)

In [23]:
data_youtube.head()

      video_id  ... country
0  2kyS6SvSYSE  ...     USA
1  0mlNzVSJrT0  ...     USA
2  STI2fI7sKMo  ...     USA
3  KODzih-pYlU  ...     USA
4  8mhTWqWlQzU  ...     USA

[5 rows x 12 columns]

In [0]:
import re
import nltk
import spacy
import string
pd.options.mode.chained_assignment = None

In [0]:
data_youtube['title'] = data_youtube['title'].str.lower()
data_youtube['title'] = data_youtube['title'].str.replace('[^\w\s]','')
data_youtube['description'] = data_youtube['description'].apply(lambda x: re.split('https:\/\/.*|http:\/\/.*', str(x))[0])
data_youtube['description'] = data_youtube['description'].str.lower()
data_youtube['description'] = data_youtube['description'].str.replace('[^\w\s]','')
data_youtube['tags'] = data_youtube['tags'].str.replace('\"*(\|")',',')
data_youtube['tags'] = data_youtube['tags'].str.replace('\"','')

In [26]:
data_youtube.head(3)

      video_id  ... country
0  2kyS6SvSYSE  ...     USA
1  0mlNzVSJrT0  ...     USA
2  STI2fI7sKMo  ...     USA

[3 rows x 12 columns]

**TFIDF**

In [0]:
selected_features = ['channel_title', 'title', 'category_title', 'tags', 'description', 'country']
data_youtube = data_youtube[selected_features]

In [28]:
data_youtube.head()

        channel_title  ... country
0        CaseyNeistat  ...     USA
1             Nobrand  ...     USA
2  Shawn Johnson East  ...     USA
3        Grace Helbig  ...     USA
4      Safiya Nygaard  ...     USA

[5 rows x 6 columns]

Test 1 (Title and Description)

In [0]:
data_youtube.reset_index(inplace=True)

In [30]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(data_youtube['description'])
tfidf_matrix.shape

(8602, 38552)

In [0]:
from sklearn.metrics.pairwise import linear_kernel
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [32]:
indices = pd.Series(data_youtube.index, index=data_youtube['title']).drop_duplicates()
indices

title
we want to talk about our marriage                                                                   0
meo cats commercial                                                                                  1
affairs ex boyfriends 18million net worth  google us  shawn and andrew                               2
blindfolded cake decorating contest with molly burke  grace helbig                                   3
wearing online dollar store makeup for a week                                                        4
                                                                                                  ...
nikuman  magic japanese steam buns                                                                8597
wild about argyll                                                                                 8598
shane macgowan  nick cave  summer in siam  the wild mountain thyme  shanes 60th birthday party    8599
tourism australia dundee super bowl ad 2018 w chris hemsworth and danny mcbride extended          8600
i love japan                                                                                      8601
Length: 8602, dtype: int64

In [0]:
def recommendations(title, cosine_sim=cosine_sim):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:6]
    data_youtube_indices = [i[0] for i in sim_scores]
    return data_youtube['title'].iloc[data_youtube_indices]

In [34]:
recommendations("wearing online dollar store makeup for a week")

381      i bought a full face of makeup from facebook ads
7966                i tried a full face of 7eleven makeup
6455    valentines day makeup tutorial glowing date ma...
58      lets talk money  everyday smokey eye tutorial ...
6093               how my makeup looks under a microscope
Name: title, dtype: object

In [36]:
data_youtube.iloc[381]

index                                                          2028
channel_title                                        Safiya Nygaard
title              i bought a full face of makeup from facebook ads
category_title                                       People & Blogs
tags              i bought a full face of makeup from facebook a...
description       so after buying the first 5 things from differ...
country                                                         USA
Name: 381, dtype: object

Test2 (Title and Category Title)

In [37]:
tfidf1 = TfidfVectorizer(stop_words='english')
tfidf_matrix1 = tfidf1.fit_transform(data_youtube['category_title'])
tfidf_matrix1.shape

(8602, 25)

In [0]:
cosine_sim1 = linear_kernel(tfidf_matrix1, tfidf_matrix1)

In [40]:
indices1 = pd.Series(data_youtube.index, index=data_youtube['title']).drop_duplicates()
indices1

title
we want to talk about our marriage                                                                   0
meo cats commercial                                                                                  1
affairs ex boyfriends 18million net worth  google us  shawn and andrew                               2
blindfolded cake decorating contest with molly burke  grace helbig                                   3
wearing online dollar store makeup for a week                                                        4
                                                                                                  ...
nikuman  magic japanese steam buns                                                                8597
wild about argyll                                                                                 8598
shane macgowan  nick cave  summer in siam  the wild mountain thyme  shanes 60th birthday party    8599
tourism australia dundee super bowl ad 2018 w chris hemsworth and danny mcbride extended          8600
i love japan                                                                                      8601
Length: 8602, dtype: int64

In [0]:
def recommendations1(title, cosine_sim=cosine_sim1):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    data_youtube_indices = [i[0] for i in sim_scores]
    return data_youtube['title'].iloc[data_youtube_indices]

In [42]:
recommendations1("affairs ex boyfriends 18million net worth  google us  shawn and andrew")

1                                   meo cats commercial
2     affairs ex boyfriends 18million net worth  goo...
3     blindfolded cake decorating contest with molly...
4         wearing online dollar store makeup for a week
5            mark ruffalo reads hilarious thirst tweets
6                idiots guide to japanese squat toilets
7     russian bots and trolls  november 8 2017 act 2...
8           the ultimate red lip look  nicole guerriero
9              could anastasia become a disney princess
10                           mdna skin express yourself
Name: title, dtype: object

In [44]:
data_youtube.iloc[5]

index                                                             5
channel_title                                        BuzzFeed Celeb
title                    mark ruffalo reads hilarious thirst tweets
category_title                                       People & Blogs
tags              BuzzFeed,buzzfeed celeb,Mark Ruffalo,Thor,Ragn...
description                           im justim flatterednncredits
country                                                         USA
Name: 5, dtype: object